<f:layout name="Default"/>

<f:section name="main">
	<f:if condition="{auth0Error}">
		<div class="alert alert-dismissible fade show alert-danger" role="alert">
			<p><f:translate key="auth0.error.{auth0Error}">{auth0ErrorDescription}</f:translate></p>
			<button class="close" type="button" data-dismiss="alert" aria-labelledby="{f:translate(key: 'auth0.alert.label.close')}">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</f:if>
	<f:if condition="{userInfo}">
		<f:then>
			<f:link.action action="logout" class="btn btn-block btn-secondary">
				<f:translate key="plugin.login.logout" />
			</f:link.action>
		</f:then>
		<f:else>
			<f:link.action action="login" arguments="{rawAdditionalAuthorizeParameters: settings.rawAdditionalAuthorizeParameters}"
			               class="btn btn-block btn-primary">
				<f:translate key="plugin.login.login" />
			</f:link.action>
		</f:else>
	</f:if>
</f:section>
