.auth0-login {
	color: #000000;
}

.auth0-login .alert-danger {
	background-color: #ffd8cc;
	color: #801f00;
}

.auth0-login .alert-success {
	background-color: #e5f8d1;
	color: #3f6910;
}

.auth0-login .alert {
	padding: 15px;
	margin-bottom: 28px;
	border-radius: 3px;
	border: 0;
}

.auth0-login .panel {
	background-color: #e3e5e7;
}

.auth0-login .btn {
	font-weight: 500;
	text-align: center;
}

.auth0-login .btn-login {
	margin: 20px 0;
}

.auth0-login .btn-auth0 {
	color: #fff;
	background-color: #5C666F;
	border-color: #5C666F;
	padding: auto 20px;
}

.auth0-login .btn-auth0:focus, .auth0-login:active .btn-auth0:active, .auth0-login:hover .btn-auth0:hover {
	color: #fff;
	background-color: #5C666F;
	border-color: #5C666F;
}

.auth0-login .typo3-login-links {
	font-size: 12px;
}