.btn-auth0 {
	padding: 12px;
	font-weight: normal;
	line-height: 1.3rem;
	border-radius: 2px;
	font-size: 12px;
}

.auth0-login-logo {
	margin-bottom: 30px;
}

.auth0-login-logo .auth0-login-image {
	max-width: 150px;
	height: auto;
	display: block;
	margin: 0 auto;
}

a.btn-auth0 {
	font-weight: normal;
}

.btn-auth0.btn-success {
	background-color: #EB5425;
	border-color: #e14615;
	color: #fff;
}

.btn-auth0.btn-success:hover {
	color: #fff;
	background-color: #ca3f12;
	border-color: #a93510;
}

.c-auth0 .form-group {
	margin-top: 35px;
}