<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">
	<h1><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.title" /></h1>
	<div class="card-container">
		<div class="card card-size-fixed-small">
			<f:render partial="Backend/Card/Header"
					  arguments="{title: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.application.title\')}', subtitle: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.application.subtitle\')}', icon: 'auth0'}" />
			<div class="card-content card-body">
				<p class="card-text">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.application.text"/>
				</p>
			</div>
			<div class="card-footer">
				<f:link.action action="list" controller="Application" class="btn btn-default">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.button"/>
				</f:link.action>
			</div>
		</div>

		<div class="card card-size-fixed-small">
			<f:render partial="Backend/Card/Header"
					  arguments="{title: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.mapping.title\')}', subtitle: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.mapping.subtitle\')}', icon: 'status-user-group-frontend'}" />
			<div class="card-content card-body">
				<p class="card-text">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.mapping.text"/>
				</p>
			</div>
			<div class="card-footer">
				<f:link.action action="list" controller="Role" class="btn btn-default">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.button"/>
				</f:link.action>
			</div>
		</div>

		<div class="card card-size-fixed-small">
			<f:render partial="Backend/Card/Header"
					  arguments="{title: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.metadata.title\')}', subtitle: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.metadata.subtitle\')}', icon: 'status-user-frontend'}" />
			<div class="card-content card-body">
				<p class="card-text">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.metadata.text"/>
				</p>
			</div>
			<div class="card-footer">
				<f:link.action action="list" controller="Property" class="btn btn-default">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.button"/>
				</f:link.action>
			</div>
		</div>

		<div class="card card-size-fixed-small">
			<f:render partial="Backend/Card/Header"
					  arguments="{title: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.documentation.title\')}', subtitle: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.documentation.subtitle\')}', icon: 'mimetypes-x-tx_rtehtmlarea_acronym'}" />
			<div class="card-content card-body">
				<p class="card-text">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.documentation.text"/>
				</p>
			</div>
			<div class="card-footer">
				<a href="https://docs.typo3.org/p/leuchtfeuer/auth0/master/en-us/" target="_blank" class="btn btn-default">
					<core:icon identifier="apps-pagetree-page-shortcut-external" />					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.documentation.button"/>
				</a>
			</div>
		</div>

		<div class="card card-size-fixed-small">
			<f:render partial="Backend/Card/Header"
					  arguments="{title: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.issue.title\')}', subtitle: '{f:translate(key: \'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.issue.subtitle\')}', icon: 'apps-pagetree-drag-place-denied'}" />
			<div class="card-content card-body">
				<p class="card-text">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.issue.text"/>
				</p>
			</div>
			<div class="card-footer">
				<a href="https://github.com/Leuchtfeuer/auth0-for-typo3/issues" target="_blank" class="btn btn-default">
					<core:icon identifier="apps-pagetree-page-shortcut-external" />
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:list.card.issue.button"/>
				</a>
			</div>
		</div>
	</div>

	<hr class="panel panel-default">

	<div class="row">
		<div class="col-sm-12 text-right">
			<a href="https://auth0.com" target="_blank">
				<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.login.copyright"/>
			</a>
			<core:icon identifier="auth0" />
		</div>
	</div>
</f:section>
</html>