{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend" />

<f:section name="content">
	<h1><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.title" /></h1>

	<f:if condition="{settings.roles.fe_users} || {settings.roles.be_users}">
		<f:be.infobox state="-1" title="{f:translate(key: 'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.infobox.title')}">
			<p>{f:translate(key: 'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.infobox.content') -> f:format.html()}</p>
			<f:link.action action="acquireMappingTypoScript" class="btn btn-primary">
				<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.infobox.button" />
			</f:link.action>
		</f:be.infobox>
	</f:if>

	<f:if condition="{extensionConfiguration.enableFrontendLogin}">
		<h2><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.frontend.title" /></h2>

		<p><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.frontend.text"/></p>
		<f:form action="updateRoles" class="form row">
			<div class="form-group col-sm-12 col-md-6 col-lg-4">
				<label for="defaultFrontendUserGroup">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.frontend.label"/>
				</label>
				<f:form.select id="defaultFrontendUserGroup" class="form-control" name="defaultFrontendUserGroup"
							   options="{frontendUserGroupMapping}" optionValueField="uid" optionLabelField="title"
							   prependOptionValue="0" value="{yamlConfiguration.roles.default.frontend}"
							   prependOptionLabel="{f:translate(key: 'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.frontend.default')}"/>
			</div>

			<div class="form-group col-sm-12">
				<f:form.submit value="{f:translate(key: 'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.frontend.button')}" class="btn btn-primary"/>
			</div>
		</f:form>

		<div class="row">
			<div class="col-sm-12">
				<f:render partial="Backend/UserGroupTable" arguments="{groupMapping: frontendUserGroupMapping, table: 'fe_groups'}"/>
			</div>
		</div>
		<hr />
	</f:if>

	<f:if condition="{extensionConfiguration.enableFrontendLogin}">
		<h2><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.backend.title" /></h2>

		<p><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.backend.text"/></p>
		<f:form action="updateRoles" class="form row">
			<div class="form-group col-sm-12 col-md-6 col-lg-4">
				<label for="defaultBackendUserGroup">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.frontend.label"/>
				</label>
				<f:form.select id="defaultBackendUserGroup" class="form-control" name="defaultBackendUserGroup"
							   options="{backendUserGroupMapping}" optionValueField="uid" optionLabelField="title"
							   prependOptionValue="0" value="{yamlConfiguration.roles.default.backend}"
							   prependOptionLabel="{f:translate(key: 'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.frontend.default')}"/>
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-4">
				<label for="adminRole">
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.backend.label"/>
				</label>
				<f:form.textfield id="adminRole" class="form-control" name="adminRole" value="{yamlConfiguration.roles.beAdmin}"/>
			</div>

			<div class="form-group col-sm-12">
				<f:form.submit value="{f:translate(key: 'LLL:EXT:auth0/Resources/Private/Language/locallang_mod.xlf:roles.backend.button')}" class="btn btn-primary"/>
			</div>
		</f:form>

		<div class="row">
			<div class="col-sm-12">
				<f:render partial="Backend/UserGroupTable" arguments="{groupMapping: backendUserGroupMapping, table: 'be_groups'}"/>
			</div>
		</div>
	</f:if>
</f:section>
