services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Leuchtfeuer\Auth0\:
    resource: '../Classes/*'

  Leuchtfeuer\Auth0\Command\CleanUpCommand:
    tags:
      - name: 'console.command'
        command: 'auth0:cleanupusers'
        description: 'Disable or remove obsolete website users.'

  Leuchtfeuer\Auth0\EventListener\AfterPackageActivation:
    tags:
      - name: event.listener
        identifier: auth0AfterPackageActivationEvent
        event: TYPO3\CMS\Core\Package\Event\AfterPackageActivationEvent

  Leuchtfeuer\Auth0\EventListener\SudoModeRequiredEventListener:
    tags:
      - name: event.listener
        identifier: auth0SudoModeRequiredEvent
        event: TYPO3\CMS\Backend\Security\SudoMode\Event\SudoModeRequiredEvent
