<f:layout name="Login"/>

<f:section name="loginFormFields">
	<style>
		.btn-auth0 {
			padding: 12px;
			font-weight: normal;
			line-height: 1.3rem;
			border-radius: 2px;
			font-size: 12px;
		}

		a.btn-auth0 {
			font-weight: normal;
		}

		.btn-auth0.btn-success {
			background-color: #EB5425;
			border-color: #e14615;
			color: #fff;
		}

		.btn-auth0.btn-success:hover {
			color: #fff;
			background-color: #ca3f12;
			border-color: #a93510;
		}

		.c-auth0 .form-group {
			margin-top: 35px;
		}
	</style>

	<div class="c-auth0">
		<f:if condition="!{error}">
			<f:then>
				<f:if condition="{userInfo}">
					<f:then>
						<p class="info text-center">You are currently logged in to Auth0 as:<br/><strong>{userInfo.nickname}</strong></p>
						<div class="form-group" id="t3-login-submit-section">
							<button class="btn btn-block btn-login t3js-login-submit" id="t3-login-submit" type="submit" name="commandLI" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> {f:translate(key: 'login.process')}">
								Login to TYPO3
							</button>
							<a class="btn btn-block btn-auth0 btn-success" href="/typo3/?loginProvider=1526966635&logout=1">
								Logout from Auth0
							</a>
						</div>
					</f:then>
					<f:else>
						<p class="info text-center">You are currently <strong>not</strong> logged in to Auth0.</p>
						<div class="form-group">
							<a class="btn btn-block btn-auth0 btn-login" href="/typo3/?loginProvider=1526966635&login=1">
								Login to Auth0
							</a>
						</div>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:be.infobox title="No Application" state="2">Please choose an application, which should be used for login to TYPO3.</f:be.infobox>
			</f:else>
		</f:if>

	</div>
</f:section>